ExpiresByType text/html "access plus 15 minutes"
ExpiresByType application/javascript "access plus 15 minutes"
ExpiresActive On

<IfModule mod_rewrite.c>
   RewriteEngine On

    ####
    # Certain hosts may require the following line.
    # If vanilla is in a subfolder then you need to specify it after the /.
    # (ex. You put Vanilla in /forum so change the next line to: RewriteBase /forum)
    ####
    #RewriteBase /

    # Make sure that / doesn't try to go to index.php without a rewrite :)
    DirectoryIndex disabled

    ####
    # Deny access to certain directories that SHOULD NOT be exposed.
    ####
    RewriteRule ^cgi-bin/ - [L,R=403]
    #RewriteRule ^forum/ - [L,R=403]

    ####
    # Redirect any non existing file/directory to /index.php
    ####
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule (.*) index.html [E=X_REWRITE:1,E=X_PATH_INFO:/$1,L]
</IfModule>
