
:root { 
    --OtoRed: rgb(226, 0, 0);
    --RedBorder: solid 2px var(--OtoRed);
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    line-height: 1.25;
    font-size: 12pt;
}
@media not all and (hover: hover) {
    body {
        font-size: 18pt;
    }
}
.OtoRed { color: var(--OtoRed); }
.sample {
    display: block;
    margin: 2ex auto; 
    border: var(--RedBorder);
    padding: 1ex 2ex;
    background-color: rgb(225, 255, 181); 
}
.sourcecode {
    padding: 4px 8px;
    border: var(--RedBorder);
    width: fit-content;
}
section     {
    content-visibility: auto;
}
pre { 
    margin: 1ex 2vw; 
    white-space: pre-wrap;
    max-width: calc(100% - 2ex);
}
pre, code, elm {
    color: darkblue;
    background-color: rgb(245, 245, 245);
    font-family: 'Lucida Console', monospace;
    font-size: 92.5%;
}
elm::before { content: "<"; }
elm::after  { content: ">"; }

dt  {margin-left:1em; margin-top: .5em; }
dd  {margin-left:3em}
p, ol, ul, li  {margin: .4em 0}
h4  {margin: .6em 0 .2em 0}

a { cursor: pointer; }
a:not([target]) {
    text-decoration: none;
    border-bottom: .1em dashed;
}

h1:not(:first-of-type) {
    margin-top: 1em;
    padding-top: 1em;
    border-top: double;
}