<h1 id=Introduction>Introduction</h1>

<div style="display: flex; flex-wrap: wrap; align-items: center; justify-items: center; margin-top:-1em; width:100%; gap: 20px">
    <div class=sample 
        style="min-width: 43ex; min-height: 14ex; padding: .5ex 1.5ex;" 
        id=sampleGreeting>
        <RHTML #srctext=sampleGreeting></RHTML>
    </div>
    <div class=sample
        style="height: fit-content; width: fit-content; margin: auto">
        <RHTML #srctext=sampleTicTacToe></RHTML>
    </div>
</div>
<h2 id="Summary">Summary</h2>
<div style="display: grid; grid-template-columns: auto auto; gap: 5%;">
    <div>
        <p>
            OtoReact is a library that brings reactivity straight into your HTML file.
            <br>The first application above is the result of this piece of Reactive HTML (RHTML):
        </p>

        <pre class=sourcecode #innerHTML="ColorCode(sampleGreeting)" style.margion="auto"></pre>
    </div>
    <div>
        <p>
            The Reactive HTML is placed in an HTML document that loads the OtoReact library, e.g. like this: 
        </p>
        <pre class=sourcecode #innerHTML="ColorCode(fileTemplate)" style.margion="auto"></pre>
        <p>
            That's all you need.
            <p>Full framework functionality, offered by a library.
            <p>Nothing to install, to configure, to build, and not a single line of required JavaScript code.
            <p>Running like a charm.
        </p>
    </div>
</div>

<h2>What is it?</h2>

<p>
    '<i>Reactive web applications</i>', or '<a href="{wiki}Single-page_application">Single Page Applications</a>', are web applications that, when possible, react immediately on user input, timer events etc, or the receival of server data requested by the application, instead of having the web server generate and send a new HTML page.
    <br>This results in both a much better user experience and much less server load.
    <br>Two tiny examples you see above; please enter some data.
</p>
<p>
    Reactivity is attained by means of JavaScript programming code running inside the web browser. The JavaScript code has to manipulate the so-called "DOM" ("Document Object Model"), which is the internal object model of a web page ("document").
    <br>Writing such JavaScript by hand can get quite complicated and might result in very cluttered programming code. A <a href="{MDN}Learn/Tools_and_testing/Client-side_JavaScript_frameworks"><i>framework</i></a> makes it much easier to create reactive web applications.
</p>
<p>
    <b>OtoReact</i></b> is a small and fast framework library to attain reactivity by loading so-called <b>Reactive HTML</b>, or <b>RHTML</b>, <i>straight into the browser</i>:
</p>
<ul>
    <li>Reactive HTML is based on HTML; JavaScript is needed <i>only for data manipulation and event handling</i>.
        Not for DOM manipulation.
        <br>Even <a href="docu#COMPONENT">components</a> are defined in HTML without a single line of JavaScript.</li>
    <li>Reactive HTML is parsed by the browser itself, and compiled and executed by OtoReact within milliseconds.</li>
    <li>Reactive HTML is easy to learn, and one doesn't need to install a compiler, a bunch of libraries, node.js, or <i>anything</i>.
        <br>Just a text editor (like <a href="https://code.visualstudio.com/">Visual Studio Code</a>) suffices.</li>
    <li>Reactive HTML makes it easy to build dynamic <a href="#colorTable">pages based on data</a>, even if no reactivity is needed.</li>
    <li>Reactive HTML makes it easy to follow the <a href="{wiki}Model–view–controller"><i>Model-view-controller</i></a> design pattern, separating your data model and program logic from the presentation.</li>
    <li>Reactive HTML can build dynamic CSS style sheets; you may not need a separate CSS framework.</li>
    <li>Reactive HTML has a powerful <a href="docu#COMPONENT">component system</a>, <a. href="./routing" #onclick="reroute">URL routing</a.>, <a href="docu#onerror">global error handling</a>, some <a href="docu#Persistence">persistence</a>, et cetera.
        <ul>
            <li>Components are defined right within the HTML, without needing any JavaScript statements</li>
            <li>Components are lightweight and have local scope.</li>
            <li>Components can be (mutually) recursive</li>
            <li>Component definitions can be nested: a component definition can contain its own local component definitions</li>
        </ul>
    </li>
    <li>OtoReact can be combined with other tooling: it can be used for fragments of a larger application, and does not modify any native objects (prototypes) which might cause conflicts. It defines a few global variables but does not depend on them.</li>
</ul>

See also <a href="#WhyOtoReact">Why OtoReact</a>.

<h2>Samples</h2>
<h3>What's your name</h3>
<p>
    Let's return to the tiny example above left. You can modify the source code below and the modified application will be reloaded immediately.
</p>
<demo #srcText="sampleGreeting.replace('><', ` store='sessionStorage'><`)"></demo>
<p>Explanation:</p>
<ul>
    <li>
        <elm>DEFINE rvar='yourName'</elm> introduces a "reactive variable" <code>yourName</code>, that can contain state information of the application.
        <ul>
            <li><code>yourName.V</code> denotes the value of the variable.</li>
            <li>We have now added <code>store='sessionStorage'</code>, which makes the value persist when the application is reloaded.</li>
        </ul>
    </li>
    <li>
        <code>@value="yourName.V"</code> binds the value of the reactive variable to the value of the input element. Whenever the input element receives input, OtoReact will update the reactive variable and all document content that reacts on it.
    </li>
    <li>
        <elm>IF cond=&hellip;</elm> is an RHTML conditional. Whenever the JavaScript condition is '<a href="{MDN}Glossary/Truthy">truthy</a>', in this case when <code>yourName.V</code> is non-empty, then the body of the conditional is rendered.
    </li>
    <li>
        <code>\{yourName.V\}</code> and <code>\{yourName.V.length\}</code> are embedded expressions. The rendered document will contain the value of the expression between the braces.
    </li>
</ul>

<h3 id="Multiplication">Multiplication tables</h3>
<demo #srctext="demoTables"></demo>
You might increment the numbers, and see how fast the DOM is updated.
<p>Explanation:</p>
<ul>
    <li>
        <elm>DEF rvar=maxY …</elm> is an abbreviation of <elm>DEFINE …</elm>. It declares a reactive variable <code>maxY</code> with initial value 10, to persist in <code>sessionStorage</code>.
    </li>
    <li>
        Attributing <elm>INPUT type=number @valueAsNumber=maxY.V</elm> declares that, at any input event, the numeric value of the input element shall be assigned to maxY.V. The rest of the application shall react on the new value.
    </li>
    <li>
        <elm>FOR let=y of="range(1,maxY.V)"</elm> lets local variable <code>y</code> iterate through the values of <code>range(1,maxY.V)</code>, which are the numbers 1 to maxY.V.
    </li>
</ul>

<h3 id=TicTacToe>Tic-Tac-Toe</h3>

Study the source code after you have read more of this documentation.
<demo #tab=false #srctext=sampleTicTacToe></demo>


<h3>Working with server data</h3>
<p id=colorTable>Here is an example of dynamically building a table based on server data, with a bit of animation as well:</p>
<demo #srctext="sampleServerData2"></demo>                                


<h2>Remarks</h2>
<h4>Other frameworks</h4>
<p>
    There exist quite a number of alternative libraries and frameworks to make it easier to build reactive web applications. I distinguish two main categories:
</p>
<ol>
    <li>
        Some, like <a href="https://jquery.com/">JQuery</a> and <a href="https://reactjs.org/">React</a>, offer tools to make it easier to manipulate the DOM.
        <br>All manipulation is still done from within the JavaScript you write, and you need a good understanding of DOM manipulation and JavaScript in general.
        <br>The respective libraries can in some cases be loaded straight into the browser without compilation.
    </li>
    <li>
        Others, like <a href="https://angular.io/">Angular</a>, <a href="https://svelte.dev/">Svelte</a>, and <a href="https://vuejs.org/">Vue</a> (with a build step), make a clean separation between the programming code and presentation. The JavaScript you write contains the data model and data manipulation you need; the actual web page is described by a template file containing HTML enriched with directives and other stuff.
        <br>You don't need to write code to manipulate the DOM at all anymore; this is done by the framework.
        <br>The source code files have to be compiled on you development machine. You need to install the compiler, and quite some modules for each application (which for Angular may take more than 1GB per application).
    </li>
</ol>
<p>
    Reactive HTML combines features of both approaches, giving you the advantages of describing the desired reactive layout by a HTML template, separate from your programming code, but without the hassle of installing and using a compiler and managing quite a number of configuration files, and you need just a basic understanding of JavaScript.
</p>

<h4>Reactive !== Responsive</h4>
<i>Reactive</i> is not the same thing as <i>responsive</i>, though there is some overlap.
<br><a href="{wiki}Responsive_web_design">Responsive web design</a> is a phrase used to indicate web pages that adapt themselves to the device they are viewed on.
<p>
    This document for example changes its layout when being printed or viewed on a narrow screen: the table of contents moves to the top, and on a mobile device font sizes are adapted.
</p>
<p>
    Responsiveness is usually attained by using <a href="{MDN}Web/CSS/@media">CSS media queries</a>, which is perfectly possible in Reactive HTML.
    <br>When you get stuck with media queries, then reactivity may come to the rescue, to make responsive adaptations to your document or style definitions not possible with media queries.
</p>

<h4>No server-side functionality</h4>
OtoReact does not provide server-side functionality. You need other tooling for that, like Node.js (+ Express), Python, PHP, .Net, or perhaps you can use existing web API's.

<!--
<h4>Use file extension .html, not .rhtml</h4>
By using file extension ".html" for RHTML files, file editors can provide HTML syntax features and servers can serve the files just like HTML files without needing additional configuration.
<p>Using ".rhtml" might also cause confusion with <a href="https://guides.rubyonrails.org/getting_started.html">Ruby on Rails</a> HTML files, that are to be processed by the server-side Ruby on Rails engine.
-->

<h2 id="DocSetup">Document setup</h2>
<ol>
    <li>
        Download OtoReact.js from the <a href="download" #onclick="reroute">download page</a> and place it somewhere on your server.
        <br>It's less than 40 kilobyte, and has no dependencies.
    </li>
    <li>
        Include the OtoReact compiler into your application:
        <pre class=sourcecode><{}script type=module src="<i>path/to/</i>OtoReact.js"><{}/script></pre>
    </li>
    <li>
        Mark the element(s) of your document you wish to compile with attribute
        <code class=sourcecode>rhtml</code>:
        <pre><{}body rhtml></pre>
        , then OtoReact will implicitly compile and render the document body at the first event cycle.
    </li>
    <li>Optionally, add an <a href="docu#Options">option list</a> to the <code>rhtml</code> attribute.</li>
    <li>
        You may also want to hide all or part of your application until it has been built, e.g. by using:
    <code><{}body rhtml hidden></code>.
        <br>OtoReact will unhide its target after it has been built.
    </li>
</ol>

<p>That's all!</p>


<h2 id="WhyOtoReact">Why OtoReact?</h2>
Some advantages of using OtoReact above other frameworks:
<ol>
    <li>
        We think it is <i>conceptually simpler</i> to have the full document definitions in enriched HTML, rather than requiring JavaScript to invoke the framework, define components, link everything together, etc.
    </li>
    <li>
        <i>Installation</i> (i.e. downloading a single file) is much simpler, and takes much less disk space, than with most other frameworks.
    </li>
    <li>
        State variables (RVAR's) can be defined in <i>any local HTML scope</i>, while in other frameworks state variables are only available at the component level.
        <br>So if, for example, you need a state variable within a <elm>FOR</elm> iteration, then you can simply define a <i>single</i> RVAR within that <elm>FOR</elm> block, and OtoReact will repeatedly instantiate the RVAR.
        <br>In other frameworks you would either have to define a whole <i>array</i> of state variables, or define a separate component just for the purpose of having a local state variable.
    </li>
    <li>
        <i>Components</i> can be defined in any local HTML scope too, meaning you can easily use them to avoid local code repetitions.
        <br>Local component definitions can refer to local variables visible at the point of definition, without needing these to be passed as parameters.
    </li>
    <li>
        Just as in any modern programming language, OtoReact (and Svelte) have control structures for conditional and repeated code that <i>surround</i> the code blocks they apply to.
        <br>Angular and Vue depend on attributes to be inserted <i>inside</i> the element to be repeated or conditionally rendered.
        <p>Compare:</p>
        <style>
            div.narrow {
                column-count: auto;
                column-width: 270px;
            }
            div.narrow > div {
                page-break-inside: avoid;
            }
        </style>
        <div class="narrow">
            <div>
                <b>Angular:</b>
                <pre>
<{}li *ngFor="let item of items">
    \{\{ item.message }}
<{}/li>
</pre></div>
    <div>
        <b>Svelte:</b>
        <pre>
\{#each items as item}
    <{}li>
        \{ item.message }
    <{}/li>
\{/each}
</pre></div>
        <div>
            <b>Vue:</b>
            <pre>
<{}li v-for="item in items">
    \{\{ item.message }}
<{}/li>
</pre></div>
<div>
    <b>React:</b>
    <pre>
items.map( item => (
    <{}li>
        \{ item.message }
    <{}/li>
))
</pre></div>
    <div>
        <b>OtoReact:</b>
        <pre>
<{}for let="item" of="items">
    <{}li>
        \{ item.message }
    <{}/li>
<{}/for>
</pre></div>
</div>
    </li>
    <li>
        There are several small nifty features you won't find in other frameworks. E.g. the simple fact that <code>null</code> and <code>undefined</code> are not rendered simplifies many embedded expressions.
    </li>
</ol>
<p>Some drawbacks are:</p>
<ol>
    <li>
        OtoReact does not yet do dependency analysis. Depending on the size and complexity of your application, it may be desirable or required to insert hints (attributes <code>reacton</code> and <code>hash</code>) that tell OtoReact which RHTML parts should react on which state variables.
    </li>
    <li>
        The HTML parser does not allow OtoReacts control structures inside <elm>table</elm>, <elm>select</elm>, and <elm>datalist</elm> (see <a href="docu#Limitations">Parser limitations</a>), so one has to use alternative element names <elm>table.</elm>, <elm>select.</elm>, etc. instead.
    </li>
    <li>
        Runtime compilation is theoretically slower than serving a precompiled application. However:
        <ul>
            <li>
                Compilation time, usually ranging from 5 - 100 milliseconds, is quite small in relation to the overall load time of a web application.
            </li>
            <li>
                In many or most cases, compilation can be done while the application waits for other resources like images or data, so it doesn't increase the overall load time <i>at all</i>.
            </li>
        </ul>
    </li>
</ol>


<h2>Search engine compatibility</h2>
<p>
    <i>Static</i> content in an OtoReact <i>main file</i> is just HTML and can be indexed by any search engine.
    This is a great advantage over frameworks like Angular and Svelte, where all content is generated by JavaScript.
</p>
<p>
    <i>Dynamic</i> content generated by any JavaScript framework including OtoReact, or just any client-side JavaScript code, can only be indexed by a search engine if that engine is able to execute the JavaScript.
    <br>Now Google does a reasonably good job at executing JavaScript, and may be able to index your dynamic OtoReact site, provided each page has its own URL and is reachable through normal links.
    <br>Most other engines, including Bing I think, won't do so.
</p>

<p>
    Static content in <i>included files</i> can only be loaded through JavaScript, and can only be indexed by search engines executing JavaScript.
    <br>If you want your static content be split over multiple files ánd want it to be indexable by any search engine, you could think of the following solutions:
</p>
<ul>
    <li>
        Use server-side technology, like Server Side Includes (SSI) or PHP, to include all included and imported RHTML files in your main file.
    </li>
    <li>
        Use a tool to bundle multiple RHTML files into a single file before deployment. <!-- Like Webpack? -->
        <br>Such a tool is not available yet, but it's not difficult to develop one.
    </li>
</ul>



<h2 id="Playgrounds">Playground(s)</h2>
Here you have a playground to enter your own Reactive HTML.
<p>
    All code you enter will be saved by your browser in <a href="{MDN}Web/API/Web_Storage_API">localStorage</a>, and should be available when you return to this page.
</p>

<def rvar=playCount #value=1 store=localStorage></def>
<react on=playCount>
    <def var=Playgrounds #value="Array.from(range(playCount.V)).map(i => RVAR(`Playground${i}`,'',localStorage))" updating></def>
    <for let=rvar of="Playgrounds" index key=index>
        <demo #rvar="rvar"></demo>
    </for>
    <button onclick="playCount.V++">
        Add another playground
    </button>
    <if cond="playCount.V > 1">
        <button onclick="playCount.V--; Playgrounds[playCount.V].V=''; Playgrounds.length = playCount.V">
            Remove last playground
        </button>
    </if>
</react>