<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
			<rules>
				<rule name="NoExtension2" stopProcessing="true">
					<match url="(/|^)([^/.]*)$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.html" />
				</rule>
				<rule name="Routing2" stopProcessing="true">
					<match url="(/|^)([^/]*)$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="../{R:2}" />
				</rule>
			</rules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>